
/* Global  Rules */
:root{
    --main-color: #f57d0c;
    --main-color-alt: #ff9c08;
    --main-transition: 0.3s;
    --section-padding:60px;
    --secondary-background-color:#0b0316;
    --background-color:#160425;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior:smooth;
}
body{
    font-family: 'Cairo', sans-serif;
}
ul{
    list-style:none;
    margin:0;
    padding:0;
}
a{
    text-decoration:none;
}
.container { 
  padding-left:5px;
  padding-right:5px;
  margin-left:auto;
  margin-right:auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
      width: 600px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1500px
    }
  }
  .special-heading{
    text-transform: uppercase;
    margin: 0 auto 80px;
    border: 4px solid white;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
    z-index:1;
    font-weight:bold;
    color:white;
}
  .special-heading::before,.special-heading::after{
    content:'';
    position:absolute;
    background-color:var(--main-color);
    border-radius:50%;
    height:17px;
    width:17px;
    top:50%;
    transform: translateY(-50%);
  }
  .special-heading::after{
    right:-30%;
  }
  
  .special-heading::before{
    left:-30%;
  }
  @media (max-width:767px){
    .special-heading::after{
      right:-15%;
    }
    .special-heading::before{
      left:-15%;
    }
  }
  .special-heading:hover{
    transition-delay:0.5s;
    color:white;
    border-color:var(--main-color);
  }
  .special-heading:hover::before{
    animation:right-move 0.5s linear forwards;
    z-index:-1;
  }
  .special-heading:hover::after{
    animation:left-move 0.5s linear forwards;
    z-index:-1;
  }
  .spikes {
    position: relative;
  }
  .spikes::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
  }
  .viewmore {
    background-color: var(--main-color);
    color:white;
    outline:none;
    padding:8px 20px;
    display:flex;
    margin:50px auto 10px;
    font-size:25px;
    border-radius:6px;
     border-style:none;
     transition:linear 0.7s;
   }
   .viewmore:hover{
     color:var(--main-color);
     background-color:white;
   }
  
  /* .dots {
    background-image: url("../images/dots.png");
    height: 186px;
    width: 204px;
    background-repeat: no-repeat;
    position: absolute;
  } */
  .dots-up {
    top: 200px;
    right: 0;
  }
  .dots-down {
    bottom: 200px;
    left: 0;
  }
/* End of General rules */
/* Start of Header  */

header {
    position:relative;
    background-color: var(--background-color);
    -webkit-box-shadow: 0 0 10px #140725;
    -moz-box-shadow: 0 0 10px #140725;
    box-shadow: 0 0 10px #140627;
}
header .container{
    display:flex;
    justify-content:space-between;
    align-content:center;
    flex-wrap:wrap;
    position: relative;
}
header .container .logo{
    width:200px;
}
header .container .logo img{
    width:100%;
    padding:20px;
}
@media (max-width: 767px) {
    header .logo {
      width: 100%;
      height: 50px;

    }
  }
header .container  ul{
    display:flex;
    align-items:center;
    justify-content: space-between;
}
@media (max-width: 767px) {
    .header ul {
      margin:0 auto;
    }
  }
header .container ul > li > a {
    font-size:20px;
    transition:var(--main-transition);
    color:white;
    font-weight:300;
    padding:0 30px;
    position:relative;
    height:72px;
    display:flex;
    justify-content:center;
    align-items: center;
    overflow:hidden;
    font-weight:500;
}
@media (max-width: 767px) {
    header .container ul > li > a {
        font-size:14px; 
        padding:20px;
        height:40px;
  }
}
header .container ul > li > a::before{
    content:'';
    position:absolute;
    background-color:var(--main-color);
    height:4px;
    width:100%;
    top:0;
    left:-100%;
    transition:var(--main-transition);
}
header .container ul > li > a:hover{
    background-color:#fafafa;
    color:var(--main-color);
}
header .container ul > li > a:hover::before{
    left:0;
}
.landing { 
  position:relative;
  background-image: url(./images/background-image.jpg);
  background-size:cover;
  z-index:-1;

}
.landing .container{
  text-align:center;
  height: calc(100vh - 72px);
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  padding-bottom:120px;
  padding-top:190px;
}
.landing::before{
  content:'';
  position:absolute;
  top:0;
  height:calc(100vh - 72px);
  width:100%;
  left:0;
  background-color:#160425;
  z-index:-1;
  transform-origin:top left;
  opacity:90%;

}
.landing .container .text{
flex:1;
text-align:center;
z-index:2;
}
.landing .container .text h1{
font-size:70px;
letter-spacing: -2px;
margin:0;
color:white;
}
.landing .container .text p{
  font-size:40px;
line-height: 50px;
margin:5px auto;
color:var(--main-color-alt);
max-width:900px;
text-align:center;

}
@media (max-width: 767px) {
  .landing .container .text{
      text-align:center;
}
.landing .container .text h1{
  font-size:30px;
  margin-bottom:30px;
}   
  .landing .container .text p{
      font-size:18px;
  }
}
.landing .container img{
width:100px;
position:relative;
animation: up-and-down 3s linear infinite;
z-index:2;
}
@media (max-width: 991px) {
  .landing img {
    display: none;
  }
}
.landing a{
  color: var(--main-color);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
}
.landing a:hover {
  color: var(--main-color-alt);
}
.landing a i{
  animation: bouncing 3s infinite;
  z-index:2;
}
.offer{
  padding-top:var(--section-padding);
  padding-bottom:var(--section-padding);
  position:relative;
  background-color: var(--background-color);
}
.offer .container { 
  display:grid;
  grid-template-columns: repeat(auto-fill , minmax(400px,1fr));
  gap:20px;
}
.offer .container .box{ 
  box-shadow:0 2px 15px  rgb(0 0 0 / 10%);
  background-color: #1c1431;
  border-radius: 6px;
  overflow: hidden;
  transition: transform var(--main-transition), box-shadow var(--main-transition);
  padding: 16px 20px 20px;
  display:flex;
  align-items:top;
}
.offer .container .box:hover{
 transform:translateY(-15px);
 box-shadow:0 30px 30px rgb(0 0 0/ 20%);
} 
.offer .container .box i::before{
  color:white;
  background-color:var(--main-color);
  border-radius: 50%;
  padding:4px;
  font-size:12px;
  
}
.offer .box  .text{
  padding-left:20px;
  font-size:20px; 
  margin-bottom:-1px;
  color:white;
}
.offer .box .text h6{
  margin:0;
  font-size:16px;
}
.offer .box .text p{
  font-size:15px;
  line-height:1.4;
}
.team{
  padding-top:var(--section-padding);
  padding-bottom:var(--section-padding);
  position:relative;

  background-color:var(--background-color)
  
}
.team .container {
  padding-top:30px;
  display:grid;
  grid-template-columns:repeat(auto-fill, minmax(300px,1fr));
  column-gap: 40px;
  row-gap: 90px;
  
}
.team .container .box{
  position:relative;
  z-index:0;
}
.team .container .box::before{
  content:'';
  position:absolute;
  right:-10px;
  top:-50px;
  height:calc(100% + 50px);
  width:calc(100% - 40px);
  background-color: #f3f3f3;
  z-index:-1;
  border-radius:5%;

}
.team .container .box::after{
  width:0;
  content:'';
  position:absolute;
  right:-10px;
  top:-50px;
  height:calc(100% + 50px);
  background-color:#e4e4e4;
  z-index:-1;
  border-radius:5%;
  transition:var(--main-transition);
}
.team .container .box:hover::after{
  width:calc(100% - 40px);

}
.team  .container .box .upper{
  display:flex;
  align-items:center;
  justify-content: space-between;
}
.team  .container .box .upper .image{
  flex-basis:85%;
}
.team .container .box .upper img{
  border-radius:10%;
  max-width: 100%;
  transition:var(--main-transition);
}
.team .box:hover img {
  filter: grayscale(100%);
}
.team .container .box .upper .links{
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  flex-basis:15%;
  align-items: center;
}
.team .container .box .upper .links i{
  padding:18px;
  font-size:20px;
  color:#666;
}
.team .container .box .lower{
  margin-left:70px;
  padding-bottom:20px;
}
.team .container .box .lower h2{
  color:var(--main-color);
  font-size:20px;
}

.testimonials{
  padding-top:var(--section-padding);
  padding-bottom:var(--section-padding);
  background-color:var(--background-color);
}
.testimonials .container {
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(300px,1fr));
  gap:40px;
}
.testimonials .box{
  background-color:white;
  position:relative;
  border-radius: 6px;
  padding:0 20px 15px;
}
.testimonials .box img{
  position:absolute;
  width:100px;
  border-radius:50%;
  right:-10px;
  top:-50px;
  border:8px solid var(--secondary-background-color);
}
.testimonials .box h3{
  font-size:25px;
  font-weight:bold;
  margin-bottom:12px;
}
.testimonials .box span{
  display:block;
  padding-bottom:10px;
  font-size:15px;
  color:var(--main-color);
}
.testimonials .box .filled{
  color: #ffc107;
}
.testimonials .box p{
  line-height:1.5;
  padding-bottom:5px;
  color:#858484;
}
 footer{
  background-color:var(--background-color);
  padding-top:60px;
}
@media (max-width: 767px) {
  footer {
    text-align: center;
  }
}
footer .container{
  display:grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  gap:100px;
}
footer .container .box > img {
  width:100%;
  margin-bottom:20px;
}
footer .container > .box ul{
  display:flex;
  align-items:center;

}
@media (max-width:767px){
footer .container > .box ul{
  justify-content: center;
}
}
footer .container > .box ul li{
  margin-right:10px;
}
footer .container > .box ul a{
color:#b9b9b9;
background-color:#313131;
font-size:30px;
display:flex;
justify-content: center;
align-items: center;
width:50px;
height:50px;
transition:var(--main-transition);
}
footer .container > .box .facebook:hover {
  background-color: #1877f2;
}
footer .container > .box .twitter:hover {
  background-color: #1da1f2;
}
footer .container > .box .youtube:hover  {
  background-color: #ff0000;
}
footer .container .box p{
  color:#b9b9b9;
  line-height:2;
  margin-top:20px;
}
footer .container .links ul li{
  padding:15px 0;
  transition:var(--main-transition);
}
footer .container .links ul li:not(:first-child,:last-child){
  border-bottom:1px solid #444;
}
footer .container .links li:hover{
  padding-left:10px;
}
footer .container .links li:hover a{
  color:white;
}
footer .container .links ul li a{
  color:#b9b9b9;
  transition:var(--main-transition);
}
footer .links li a::before {
  font-family: FontAwesome;
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}
footer .third-box {
  margin-top:20px;
}
footer .third-box .line {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  footer .third-box .line {
    flex-direction: column;
  }
}
footer .third-box .line i {
  font-size: 25px;
  color: var(--main-color);
  margin-right: 10px;
}
@media (max-width: 767px) {
  footer .third-box .line i {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
footer .box .line .info span {
  display: block;
  line-height: 1.7;
  flex: 1;
}
footer .box-gallery{
  display:grid;
  grid-template-columns: repeat(auto-fill,minmax(50px,1fr));
  gap:20px;
  margin-top:20px;
}
footer .container .image img{
  width: 78px;
  border: 3px solid white;
  margin: 2px;
}

footer .lowerpart{
  padding:25px;
  text-align:center;
  color:white;
  margin:50px 0 0;
  border-top:1px solid #444;
}
.login{
  margin:auto;
  padding:20px ;
  width:600px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border:black 1px solid;
  border-radius:4px;
}
.login i{
  display:flex;
  justify-content: flex-end;
  
  color:grey;
  font-size:20px;
}
.login .text{
  text-align:center;
}
.login .text h3{
  font-size:25px;
  margin-bottom:0;
}
.login .text h4{
  font-size:18px;
  margin-top:8px;
  color:rgb(94, 94, 94);
  font-weight:500
}
.login .text h4 a{
  font-weight:700;
  color:var(--main-color);
  text-decoration: underline;
  margin-bottom:20px;
}
.login .information-input{
  padding:0 65px;
}
.login .information-input input{
  width:100%;
  height:50px;
  border: 1px rgb(133, 133, 133) solid;
  margin-bottom:15px;
  padding:10px 20px;
  font-size:18px;
  margin-bottom:15px;
}
  .login .information-input input:last-of-type{
    margin-bottom:4px;
  }
  .login .information-input .verification{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  .login .information-input .verification .remember{
    margin:0;
    display:flex;
    align-items: center;
  }
.login .information-input .verification .remember .box{
    padding:2px;
    float: left;
    border: 1px solid black;
    margin-right:7px;
}
.login .information-input .verification .remember h5{
  color:rgb(133, 133, 133);
  font-weight:500;
  font-size:14px;
}
.login .information-input .verification i{
  font-size:15px
}
.login .information-input .verification .forgot{
  font-size:14px
}
.login .information-input button{
  width:100%;
  font-size:21px;
  background-color:var(--main-color-alt);
  color:white;
  padding:10px;
  border-style: none;;
}
.coaches{
  padding-top:var(--section-padding);
  padding-bottom:var(--section-padding);
  position:relative;
  background-color:var(--background-color)
}
.coaches .container {
  padding-top:30px;
  display:grid;
  grid-template-columns:repeat(auto-fill, minmax(300px,1fr));
  column-gap: 40px;
  row-gap: 90px;
  
}

@keyframes up-and-down {
  0%,100%{
      top:0;
  }
  50%{
      top:-50px;
  }
}
@keyframes bouncing {
  70% { transform:translateY(0%); }
  80% { transform:translateY(-25%); }
  90% { transform:translateY(0%); }
  95% { transform:translateY(-20%); }
  97% { transform:translateY(0%); }
  99% { transform:translateY(-10%); }
  100% { transform:translateY(0); }
}
@keyframes left-move {
50% {
  right: 0;
  width: 12px;
  height: 12px;
}
100% {
  right: 0;
  border-radius: 0;
  width: 100%;
  height: 100%;
}
}
@keyframes right-move {
50% {
  left: 0;
  width: 12px;
  height: 12px;
}
100% {
  left: 0;
  border-radius: 0;
  width: 100%;
  height: 100%;
}
}
@keyframes left-and-right {
100%{
  transform:translateX(10px);
}
}
@keyframes flash {
0%,50%{
  opacity:1;
}
100%{
  opacity:0;
  width:200%;
  height:200%;
}

}